@font-face {
    font-family: 'HelveticaNeue';
    src: url('../HelveticaNeueBold.eot');
    src: url('../HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../HelveticaNeueBold.woff2') format('woff2'),
        url('../HelveticaNeueBold.woff') format('woff'),
        url('../HelveticaNeueBold.ttf') format('truetype'),
        url('../HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-display: swap;*/
}

